.filterSection {
  padding: 8px 16px 16px;
}

.filterOptions {
  margin-bottom: 15px;
}

.filterInput {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
  margin: 0px;
  margin-bottom: 15px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
}

.filterButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.filterTitle {
  flex: 1 1 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(32, 31, 30);
  font-size: 16px;
  font-weight: 600;
}

.filterCloseButton {
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  flex-shrink: 0;
  color: black;
  margin-right: -8px;
}

.filterCloseButton:hover, .filterCloseButton:active {
  background: none;
}

.filterApplyButton {
  margin-right: 10px;
}

.filterTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 16px;
  border-bottom-color: rgb(243, 242, 241);
}